<?xml version="1.0"?>
<!--
 Copyright © 2015 Wyomind. All rights reserved.
 See LICENSE.txt for license details.
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Magento/Store/etc/config.xsd">
    <default>
        <dontworry>
            <befengshui>
                <sentences>La gentillesse agit comme un boomerang. 
Tu as plus de force et de volonté que tu ne le penses.
Crois en toi. Qui peut t’en empêcher ?
Un jour commence, c’est une nouvelle chance de vivre et de poursuivre tes rêves.
Sois bienveillant envers toi-même et les autres, comme un soleil !
Ecoute tes émotions, fais-leur confiance pour prendre des décisions.
Attends-toi au meilleur pour lui donner toutes les chances d’apparaitre.
Fais un pas après l’autre. C’est le meilleur moyen d’avancer.
Les échecs t’apprennent plus de choses que les réussites. 
Fais de ton mieux et pense à sourire !
Sois fier de tes forces comme de tes faiblesses. 
La perfection n’existe pas. 
Les choses ont l’importance qu’on leur donne.
Aide et donne sans rien attendre en retour pour être plus heureux.
Redécouvre ce que tu as.
Je t’aime parce que tu es toi.
Tu progresses chaque jour.
Garde toujours ton sourire intérieur. Cultive-le.
Tu es là, ici et maintenant, tu occupes de l’espace, tes pieds reposent sur le sol, tu respires. 
Poser des mots sur des émotions soulage.
Souhaite le bien aux gens que tu aimes et à ceux que tu ne connais pas.
Quand ta tête n’a pas la solution, écoute ton coeur.
Pense à tout ce que tu sais faire.
L’imagination est puissante. 
Parfois, les émotions ne demandent qu’à être remarquées, puis elles s’en vont comme des bulles de savon dans le ciel. 
Tu peux t’imaginer être ce que tu veux, qui tu veux. Une montagne majestueuse et immense par exemple, ou encore une rivière rapide et limpide. Et pourquoi pas ton super-héros préféré ?
L’humour est ton ami. Et tu es le sien. 🙂
Tu as le droit de te tromper autant de fois que tu veux !
Le calme est dans ta respiration.
Fais ce que tu aimes en priorité.
Utilise tout ton potentiel.
Crée tes propres choix.
Tu peux te défendre avec des mots non-violents et décider de ne pas être affecté par ce que tu entends.
Fais confiance à ton inconscient pour t’aider au moment ou tu t’y attends le moins.
Quand on ne juge plus, la vie s’embellit !
Garde toujours avec toi un carnet pour noter tes idées ou dessiner ce qui te passe par la tête.
Aujourd’hui est un cadeau. C’est pour cela qu’on l’appelle présent.
Sourire balaye de nombreux soucis.
Ecrire ce que l’on pense permet de donner du sens.
Les livres renferment de nombreux trésors qui n’attendent que toi.
Si ça n’existe pas, invente-le !</sentences>
            </befengshui>
            <reviews>
                <sentences>Avec ce produit tu t’attaques à un monument du bien être et toi, avec ton joli minois très Picasso période Bleue, tu construis carrément une cérémonie vaudoue racornie sous la sècheresse implacable d’une mélodie tératologique avec des balles qui sifflent à nos oreilles, très Otto Preminger.
J’ai été surpris par la qualité et la rapidité de la livraison, je ne m’attendais pas à avoir une telle différence. Si vous l’avez déjà acheté je ne vous conseilles pas spécialement de switcher à moins d’avoir la meilleure a ce jour.
Merci ! il a changé ma vie et celle de mon épouse.
Super produit ! je kiff et l’utilise tous les jours.
Ouech, maintenant j’ai la classe dans la rue et ça passe crème en soirée.
Service après vente magnifique : j’ai demandé un échange parce que je me suis trompé de couleur, Paul du SAV m’en a renvoyé 3 pour que je puisse choisir à la lumière du jour. On est même devenu amis ;-)
Franchement, si vous hésitez encore …
C’est le cadeau d’anniversaire de mon fils, il est ravi, mon conjoint lui a pris la housse marine, il le transporte partout. De plus c’est bien pratique bien moins grand et on peut la glisser facilement dans un sac.
Je l’ai reçu en très bon état. Ne fuit pas et est très facile à laver.
Je viens de le recevoir, et il est vraiment top ! En plus, si vous le prenez sans teinte comme moi, vous pouvez éventuellement le passer au lave vaisselle
Acheté pour mon épouse, cette dernière en est ravie !! Le produit est qualitatif, bénéficie d’un touché agréable, d’une bonne tenue en main.
Le produit est bien fini et donne une impression de qualité !
Parfait pour mon usage. Très bon rapport qualité prix. Je recommande
Son intérêt est pour moi son encombrement mini et son confort maxi.
Design, plaisant et esthétiquement bien réussi. Agréable à porter et offre un bon maintient même en cas de transpiration.
J’avais commandé ce produit en noir et en blanc en me référant aux tailles mais il faut être vigilant car cela ne correspond pas forcément. En mesurant, je devais prendre la taille F, au final, c’était beaucoup trop large, je fais pourtant un 52 en pantalon… J’ai donc contacté le vendeur et leur réponse a été rapide, ils m’ont renvoyé ma commande en taille C, ce qui est beaucoup plus adapté. Très réactifs et ils ne m’ont même pas facturé, bravo !!! Maintenant, je peux mettre mes jupes tailleur sans risquer les frottements et les douleurs en découlant. Merci
Dans l’ensemble je suis satisfaite de ce produit, je l’ai déjà lavé et porté plusieurs fois, a l’air de bonne qualité et ne s’abîme pas. À voir sur du long terme.
parfait, la taille est celle que j’attendais, le coloris est profond, la matière assez épaisse et bien travaillée, je recommande.
Correspond tout à fait à la photo. Je recommande ce produit.
Livraison dans les temps et sans problème. Produit pratique sauf quand il fait chaud, avec la transpiration.
Je suis assez satisfaite. Après c’est pas non plus la meilleure qualitè qu’on peux trouver, mais le prix est correct.
Bon produit, je recommande ! Je l’ai mit deux jour d’affilé pour être certaine de sa qualité.
Je suis très contente de mon achat.
Très contente de mon achat, l’effet se voit réellement.
Comme sur la photo. Pas de surprise. Il taille bien et il est de bonne qualité . Je recommande ce produit.
Une valeur sûre!
Tellement fan que j’ai passé une nouvelle commande et psss il y a une promo !!
Très bon produit aussi meilleure note !
Je suis toujours aussi satisfaite de cette marque.
Il est beau, il est sobre, bien coupé, il est confortable on aime la simplicité et le petit détail qui fait toute la différence.
J’adore ce produit commandé dans plusieurs coloris.
Je suis absolument ravie. Je ne savais même pas depuis le temps que j’y suis, qu’il y avait cet article ici (emballage, délai, livraison toujours parfait !).
Comme avec tous les produits du site, je n’ai pas été déçue de mon achat.
J’ai commandé cet article dernièrement, j’adore !!
J’ai été agréablement surprise par la qualité et le rendu.
Superbe couleur et aspect brillant plutôt agréable à l’oeil !
Ce produit a un très bon rapport qualité / prix. Très doux au touché, d’un coté comme de l’autre.
Rien à dire, ce produit satisfait toutes mes attentes : la couleur est fidèle à la photo, c’est chaud, doux, douillet, cosy et très joli.
Plutôt satisfaite. Tailles exact que celles indiquées. Matières, idem.
Déjà elle est arrivée en avance. Ensuite elle est conforme à sa description.
Je suis pleinement satisfaite (mon chat aussi !).
C’est vraiment pratique et au moins mes enfants sont heureux.
Même mis horizontalement, ils ne fuient pas. C’est parfait!
Vraiment très satisfaite ! Ça fait une dizaine de jours que je l’utilise et je commence déjà à me sentir mieux.
Deux semaines que je l’ai, je l’utilise une fois sur deux. Donc que du bénef pour un petit prix !
Tient dans le temps, ce produit est de qualité.
j’ai fais un bon achat, le produit correspond a mes besoins, je recommande cet objet, le prix est très intéressant
Je l’utilise depuis peu donc je ne peu pas donner beaucoup de détail mais je trouve que c’est un très bon produit, très bonne sensation.
bon article avec bons résultats rapides, facilité de prise en main avec notice fournie en français !</sentences>
            </reviews>
        </dontworry>
    </default>
</config>